.profile__subtitle {
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	margin: 4px 0 0;
	padding: 0;
	width: 350px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 1250px) {
	.profile__subtitle {
		text-align: center;
		font-size: 14px;
		margin: 7px 0 3px;
		width: 300px;
	}
}