.profile {
	width: 69%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 50px;
}

@media screen and (max-width: 1250px) {
	.profile {
		width: 69%;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto 36px;
	}
}

@media screen and (max-width: 850px) {
	.profile {
		width: 88%;
	}
}