.register__text {
	border: none;
	font-size: 14px;
	line-height: 1.2;
	width: 100%;
	height: 27px;
	color: #fff;
	padding: 0;
	background: none;
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;
}

.register__text:focus {
	outline: none;
}


