.profile__add-button {
	width: 150px;
	height: 50px;
	background: none;
	border: solid 2px #fff;
	border-radius: 2px;
	outline: none;
	padding: 0;
	background-image: url(../../../images/profile/profile-add-button.svg);
	background-position: center;
	background-size: 22px 22px;
	background-repeat: no-repeat;
	opacity: 1;
	transition: opacity .3s ease-in;
	cursor: pointer;
}

.profile__add-button:hover {
	opacity: 0.6;
}

@media screen and (max-width: 1250px) {
	.profile__add-button {
		width: 100%;
		background-size: 16px 16px;
	}
}